*{
    padding: 0;
    margin: 0;
}



.heads{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 1000;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.head_container{
    width: 100%;
    height: 88px;
    background-color: #fff;

    display: flex;
    font-family:"SF Pro" ;
    align-items: center;
     /* padding: 28px 0; */
    justify-content: space-between;
    padding-left: 70px;
    position: sticky;
    padding-right: 70px;
    box-shadow: 0px 2px 8px 0px #3492B614;

}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
  }
  .navbar.open {
    display: flex;
    transition: 0.5s ease;

  }
  
  .navbar li {
    list-style: none;
    padding: 10px;
    transition: 0.5s ease;

  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    transition: 0.5s ease;

    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .line.open:nth-child(1) {
    transition: 0.5s ease;

    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
    /* transform: rotate(-0deg) translate(4px, 0px); */

  }
  
  .line.open:nth-child(3) {
    transition: 0.5s ease;

    transform: rotate(-45deg) translate(5.5px, -7px);
  }
ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
ul a{
    /* margin-left: -200px; */
    color: rgba(35, 31, 32, 1);
}
ul a li{
  font-size: 14px;
font-weight: 400;
line-height: 24px;
font-family:"SF Pro" ;
text-align: center;
list-style: none;
cursor: pointer;
}
.logo{
    border-right: 1px solid #44C0EF4D;
    padding-right: 100px;
}

.logo a img{
    /* width: 100%; */
    object-fit: cover;
    object-position: center;
}
.contact_link {
width: 151px;
height: 40px;
gap: 10px;
border-radius: 6px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: transparent;
border: 1px solid #174050;
}
.contact_link a button{
     font-size: 12px;
    font-weight: 400;
    padding: 7px 16px 7px 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    line-height: 24px;
    text-align: center;
    color: #174050;

}
.selections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.selecting{
    display: flex;
    align-items: center;
    width: 124px;
height: 36px;
gap: 12px;
opacity: 0px;
padding:0 10px;

}

.selecting select {
    border: none;
    width: 76px;
    height: 24px;
    background: transparent;
    /* padding: 18px 14px 18px 14px; */
    border-radius: 10px;
    gap: 6px;
 font-family: SF Pro;
/* font-size: 14px; */
font-weight: 400;
/* line-height: 24px; */
text-align: center;

}
 
.flag{
    width: 36px;
height: 36px;
padding: 8.4px 6.95px 9.4px 7.2px;
gap: 0px;
border-radius: 50%;
opacity: 0px;
background: #DAF2FC;
font-size: 18px;

}
 
